/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 230px;
    top: 32px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}


/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: black;
    padding: 0em 1.5em 0 0;
    font-size: 1.15em;
    width: 10em;
    margin-left: -1.5em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 1em 1em;

}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

@media(max-width: 768px) {
    .header {
        width: 100%;
    }

    .area input {
        width: 100%;
    }

    .navbar {
        display: flex;
    }
}


@media(max-width: 576px) {
    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 170px;
        top: 32px;
    }

    .bm-menu {

        width: 9em;
    }
}