.container {
    width: 98%;
}

.container h2 {
    text-align: center;
}

.data,
.userdata {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    width: 95%;
}

.status,
.shipping {
    grid-column: 4/5;
    text-align: right;
}

.status {
    text-transform: uppercase;
}

.order {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    margin-top: 2em;

}

.center {
    text-align: center;
    font-weight: 800;
}

.tag {
    font-weight: 800;
}


.total {
    margin-top: 2em;
    font-weight: 800;
}

.hide {
    display: none;
}

.spinner {
    padding-top: 10em;
    min-height: 52vh;
}