.menu {
    border-top: solid black 0.01em;
    border-bottom: solid black 0.01em;
    margin-bottom: 2em;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 2em auto;
    max-width: 80%;
}

.menu ul li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 1em;
    color: black
}

.menu ul li:hover {
    color: white;
    background-color: #A46BF5;

}

.menu ul a {
    text-decoration: none;
}