.review {
    width: 95%;
    margin: 0 0 3em 1em;
    padding: 1em;
    border-style: dotted;
    border-color: #A46BF5;
}

.review h3 {
    font-family: 'Calistoga';
}

.review i {
    color: #A46BF5;
}

.review p {
    font-weight: bold;
}