@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');


.button button {
    position: fixed;
    top: -1.3em;
    right: 1em;
    margin: 2em auto;
    background: #A46BF5;
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #000;
    cursor: pointer;
    padding: 0.3em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow .15s, transform .15s;
    font-size: 1.5em;
}

.modal {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -45%);
    border: 3px solid #9a76a9;
    background-color: rgb(248, 241, 251);
    overflow: auto;
    border-radius: 4px;
    border: 3px solid 154, 118, 169;
    outline: none;
    padding: 20px;
    width: 1000px;
    height: 700px;
}

.addressModal li {
    list-style-type: none;

}

.addressModal button {
    margin: 1em 0;
    background: #A46BF5;
    border: 0;
    border-radius: 15px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #000;
    cursor: pointer;
    width: 60%;
    height: 3em;
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow .15s, transform .15s;
    font-size: 1.2em;
}

.addressModal button:focus {
    box-shadow: #a188b3 0 0 0 1.5px inset, rgba(148, 123, 236, 0.4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a188b3 0 -3px 0 inset;
}

.addressModal button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a188b3 0 -3px 0 inset;
    transform: translateY(-2px);
}

.addressModal button:active {
    box-shadow: #6086af 0 3px 7px inset;
    transform: translateY(2px);
}