.button {
    display: flex;
    justify-content: flex-end;
    margin: 1em 1em 0 0;
}

.button button {
    text-transform: uppercase;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3em;
    text-align: justify;
}

.container h3,
ul {
    text-align: left;
}

.italic {
    font-style: italic;
}

.container span {
    color: darkgreen;
}

@media(max-width: 992px) {
    .container h1 {
        font-size: x-large;
    }

    .container h2 {
        font-size: larger;
    }

    .container h3 {
        font-size: medium;
    }
}

@media(max-width: 576px) {
    .container h1 {
        font-size: larger;
    }

    .container h2 {
        font-size: medium;
    }

    .container h3,
    .container li {
        font-size: smaller;
    }
}