.productCard {
    box-sizing: border-box;
    width: 20%;
    border-left: 0.8px solid lightgrey;
    border-right: 0.8px solid lightgrey;
    border-bottom: 0.8px solid lightgrey;
}

.productCard:hover {
    border: 1.2px solid #A46BF5;
}

.fav {
    width: 90%;
    margin: 1em 0 0 1em;
}

.fav i {
    color: rgb(176, 36, 36);
}

.fav button {
    border: none;
    background-color: transparent;
    font-size: 1.3em;
    cursor: pointer;
}

.name {
    display: flex;
    flex-wrap: wrap;
}

.name h3 {
    display: inline-block;
    width: 100%;
    height: 4em;
    margin: 0 1em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0;
}

.productCard figure {
    width: 55%;
    height: 16em;
    margin: 0 auto;
    cursor: pointer;
}

.productCard figure img {
    width: 100%;
    margin: 0 auto;
}

.bottom p {
    display: block;
    width: 50%;
    height: 2em;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: center;
}

.bottom button {
    margin: 0 2em 1em 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hide {
    display: none;
}

.soldout {
    color: red;
}

@media(max-width: 1200px) {
    .productCard {
        width: 25%;
    }
}

@media(max-width: 992px) {
    .productCard {
        width: 33.3%;
    }
}

@media(max-width: 798px) {
    .productCard {
        width: 50%;
    }
}

@media(max-width: 480px) {
    .productCard figure {
        width: 65%;
        height: auto;
    }

    .bottom {
        margin-top: 1em;
    }
}