.container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    max-width: 100%;
}

.container img {
    width: 70%;
}


.container figure {
    width: 10%;
    height: auto;
}

.buttons {
    max-width: 100%;
    padding-top: 30px;
    display: inline-flex;
}

.buttons button {
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    height: 36px;
    letter-spacing: .0892857em;
    min-width: 64px;
    padding: 0 2em;
    text-transform: uppercase;
    background-color: transparent;
}

.buttons .cart {
    margin-right: 2em;
    padding: 0 2em;
}


@media (max-width: 992px) {
    .container img {
        width: 90%;

    }

    .buttons .cart {
        margin-right: 0.5em;
    }
}



@media(max-width: 576px) {
    .container {
        align-items: baseline;
    }

    .container img {
        width: 100%;
    }

    .buttons button {
        font-size: 0.8rem;
        margin-right: 1.5em;
    }

    .buttons .cart {
        margin-right: 1.5em;
    }
}

@media(max-width:480px) {
    .container figure {
        width: 15%;
    }

    .buttons button {
        margin-right: 0;
        font-size: 0.7rem;
        min-width: 50px;
        padding: 0 2em;
        text-transform: uppercase;
    }
}