@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.container h2 {
    width: 98%;
    height: 2em;
    border-bottom: 1px solid #bdb2b2;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em;
    font-family: 'Calistoga';
}

.container h3 {
    font-family: 'Calistoga';
    color: red;

}