.container h2 {
    width: 98%;
    height: 2em;
    border-bottom: 1px solid #bdb2b2;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 90%;
    height: 60vh;
    margin-top: 4em;
}

.form label {
    width: 20%;
    margin: 0 2em 0 2em;
    font-size: 1.3em;
}

.form input {
    width: 60%;
    margin: 0 2em 2em 2em;
    margin-left: 2em;
    height: 1.3em;
    font-size: 1.3em;
    background-color: #eee;
}

.button {
    width: 100%;
    text-align: right;
}

.button button {
    width: 15%;
}

.error {
    width: 100%;
    color: red;
    font-size: 1.2em;
    margin-left: 2em;
    margin-top: -2em;
    ;

}