.container {
    width: 99%;
    height: 50.15vh;
    margin: 0 auto;
    text-align: left;
}

.button {
    display: flex;
    justify-content: flex-end;
    margin: 1em 1em 0 0;
}

.button button {
    text-transform: uppercase;
}

.container p {
    margin-left: 1em;
    font-size: 1.2em;
}

@media (max-width: 1200px) {
    .container {
        height: 45.8vh;
    }
}

@media(max-width:992px) {
    .container {
        min-height: 52.2vh;
    }
}

@media (max-width: 576px) {
    .container {
        margin-bottom: -2em;
        height: 56vh;
    }

    .container p {
        font-size: 1em;
    }
}

@media(max-width: 480px) {
    .container {
        margin-bottom: -2em;
        height: 56vh;
    }
}