.button {
    display: flex;
    justify-content: flex-end;
    margin: 1em 1em 1em 0;
}

.button button {
    text-transform: uppercase;
}

.container {
    margin-left: 2em;
}

.container h1 {
    text-align: center;
}