@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.button {
    display: flex;
    justify-content: flex-end;
    margin: 1em 1em 1em 0;
    padding-top: 4em;
}

.button button {
    text-transform: uppercase;
}

.container {
    padding-top: 5em;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

.container h1,
.container h2,
.container h3 {
    font-family: 'Calistoga';
    text-align: left;
}

@media(max-width: 992px) {
    .container h1 {
        font-size: x-large;
    }

    .container h2 {
        font-size: larger;
    }

    .container h3 {
        font-size: medium;
    }
}

@media(max-width: 576px) {
    .button {
        padding-top: 3em;
    }

    .container h1 {
        font-size: larger;
    }

    .container h2 {
        font-size: medium;
    }

    .container h3,
    .container li {
        font-size: smaller;
    }
}