.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 90%;
    height: 60vh;
}

.form label {
    width: 20%;
    margin: 0 2em 0 2em;
    font-size: 1.3em;
}

.form input {
    width: 60%;
    margin: 0 2em 2em 2em;
    margin-left: 2em;
    height: 1.3em;
    font-size: 1.3em;
    background-color: #eee;
}

.button {
    width: 100%;
    text-align: right;
}

.button button {
    width: 20%;
    cursor: pointer;
}

.button button:disabled {
    cursor: not-allowed;
}

.error {
    width: 100%;
    color: red;
    font-size: 1.2em;
    margin-left: 2em;
    margin-top: -2em;
}