.header {
    color: white;
    height: auto;
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.area {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
    background-color: black;
}

.area img {
    max-width: 100%;
}


@media(max-width: 1200px) {}

@media(max-width: 992px) {}