@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.container {
    min-height: 63.5vh;
    width: 100%;
    margin-top: 10em;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Calistoga';
}

.pagination {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 20%;
    margin: 2em auto;
}

.active,
.page,
.break,
.previous,
.next {
    cursor: pointer;
    padding: 0.2em;
}

.previous,
.next {
    font-size: 1.5em;
}

.active {
    background-color: #A46BF5;
    padding: 0.2em;
}