.footer {
    background-color: black;
    color: white;
    padding: 2em 0;
    margin-top: 3em;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.logo {
    grid-column: 1 / 1;
    margin: 0;
}

.logo img {
    width: 15%;
}

.links {
    grid-column: 2 /3;
}

.links ul li {
    list-style: none;
    text-align: left;
    font-size: 1.2em;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

.links ul li a:hover {
    color: gray;
}

.subscribe {
    grid-column: 3 / 7;
}

.subscribe input {
    margin-top: 2em;
    height: 2em;
    width: 30%;
    border-radius: 5px;
    outline: none;
}

.subscribe button {
    align-items: center;
    margin-left: 2em;
    border-style: none;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    height: 36px;
    letter-spacing: .0892857em;
    line-height: normal;
    min-width: 64px;
    padding: 0 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}

@media(max-width:1200px) {

    .links ul li,
    .logo figcaption {
        font-size: 0.9em;
    }

    .subscribe input {
        margin-top: 1.5em;
        height: 1.5em;
    }
}

@media (max-width:992px) {
    .logo img {
        width: 25%;
    }

    .logo figcaption {
        font-size: 0.7em;
    }

    .subscribe h3 {
        font-size: medium;
    }
}

@media(max-width:576px) {
    .logo img {
        width: 35%;
    }

    .links {
        grid-column: 2 /4;
    }

    .links ul li {
        font-size: 1em;
    }

    .subscribe {
        grid-column: 4 / 7;
    }

    .subscribe input {
        width: 70%;
    }

    .subscribe button {
        margin-top: 1em;
        margin-left: 0;
    }
}