@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.container {
    width: 100%;
    height: 10em;
    background-color: rgb(248, 241, 251);
    text-align: center;
    margin-bottom: 2em;
    border: 1px, solic rgb(233, 229, 233)
}

.container h3 {
    padding: 1em 0;
    border-bottom: 0.3px solid rgb(102, 102, 102);
    color: rgb(154, 118, 169);
    font-family: 'Calistoga';
}

.container:last-child {
    padding-bottom: 1em;
}

.list ul li:nth-child(2) {
    padding-right: 7em;

}

.list ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    gap: 1em;
    font-size: 1.3em;
}

.list button {
    background-color: transparent;
    border: none;
    color: rgb(154, 118, 169);
    font-weight: bold;
}

.list li {
    padding-bottom: 1em;
    width: 25%;
}

.list ul i {
    font-size: 4.5em;
    margin-right: 0.1em;
    color: rgb(154, 118, 169);
    cursor: pointer;
}

.close h2 {
    color: black;
    text-transform: uppercase;
    position: relative;
    top: -0.5em;
    left: 1em;
    margin-bottom: 2em;
    font-family: 'Calistoga';
}

.close button {
    position: fixed;
    top: -1.3em;
    right: 1em;
    margin: 2em auto;
    background: #A46BF5;
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #000;
    cursor: pointer;
    padding: 0.3em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow .15s, transform .15s;
    font-size: 1.5em;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    border: 1px solid #ccc;
    background-color: rgb(248, 241, 251);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: 800px;
    height: 200px;
}



@media(max-width: 576px) {
    .modal {
        width: 400px;
        height: 550px;
        background-position: bottom;
    }
}

@media(max-width: 480px) {
    .modal {
        width: 350px;
        height: 500px;
        background-position: bottom;
    }
}