@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.review {
    width: 90%;
    margin: 0 auto 4em auto;
}

.tabs {
    display: flex;
    gap: 1em;
    width: 97.5%;
}

.tab {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #f5eefb;
    padding: 1em 0;
    border: 1px solid #efe5fa;
    border-radius: 30px 30px 0 0;
    font-size: 1.2em;
    cursor: pointer;
}

.tab i {
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}

.tab:not(:last-child) {
    border-right: 1px solid #efe5fa;
}

.tab.active {
    background: #e4d6f7;
    border: 1px solid #e4d6f7;
    border-radius: 30px 30px 0 0;
}

.tab.active i {
    background: #A46BF5;
    padding: 0.5em;
    border-radius: 50%;
}

.panel {
    display: none;
    background-color: #e4d6f7;
    padding: 10px;
    margin: 0 2em 2em 0;
}

.panel:last-child {
    margin-bottom: 2em;
}

.panel.active {
    display: block;
    border-radius: 0 0 30px 30px;
}

.panel.active h2 {
    margin: 1em 0 2em 2em;
    font-family: 'Calistoga';
}

.panel.active h3 {
    font-family: 'Calistoga';
}

.spinner {
    padding-top: 4em;
    min-height: 52vh;
}

.null {
    display: none
}

.button {
    background: #A46BF5;
    border: 0;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    height: 2.5em;
    padding: 0 1em;
    font-size: 1em;
    font-weight: bold;
}

.button:focus,
.close button:focus {
    box-shadow: #a188b3 0 0 0 1.5px inset, rgba(148, 123, 236, 0.4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a188b3 0 -3px 0 inset;
}

.button:hover,
.close button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a188b3 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active,
.close button:active {
    box-shadow: #6086af 0 3px 7px inset;
    transform: translateY(2px);
}

.message {
    text-align: center;
    margin-bottom: 4em;
    color: red;
    font-size: 1.5em;
}