.review {
    width: 90%;
    margin: 0 auto 4em auto;
}

.tabs {
    display: flex;
    margin-right: 2em;
}

.tab {
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #d4bcf5;
    padding: 2em 0;
    border: none;
    font-size: 1.2em;
}

.tab:not(:last-child) {
    border-right: 1px solid #d4bcf5;
}

.tab.active {
    background: #A46BF5;
    font-weight: bold;
}

.panel {
    display: none;
    background-color: #eaeaea;
    padding: 10px;
    margin: 0 2em 2em 0;
}

.panel:last-child {
    margin-bottom: 2em;
}

.panel.active {
    display: block;
}

.spinner {
    padding-top: 4em;
    min-height: 52vh;
}

.null {
    display: none
}